
.ui-icon-cog{
	background:url('../images/icon/cog.png') no-repeat center center;
}
.ui-icon-computer{
	background:url('../images/icon/computer.png') no-repeat center center;
}
.ui-icon-group{
	background:url('../images/icon/group.png') no-repeat center center;
}
.ui-icon-excel{
	background:url('../images/icon/page_white_excel.png') no-repeat center center;
}
.ui-icon-lock{
	background:url('../images/icon/lock.png') no-repeat center center;
}
